.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    height: 1080px;
    width: 1920px;
}

.footer-links {
    display: flex;
    gap: 50px;
    color: white;
    font-size: 15px;
    list-style: none;
}

.footer-links li {
    cursor: pointer;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img {
    max-width: 180px; 
}


.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: white;
    font-size: 15px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 0.5px solid white;
    height: 0.5px;
    margin: 0;
    background: white;
}
